.logo {
    font-family: Poppins;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;
    text-align: left;    
    color: #fff;
    text-decoration: none;
}

@media (max-width: 450px) {
  .logo {
    font-size: 13.44px;
    line-height: 20px;
    span {
      font-size: 21.12px;
      line-height: 32px;
    }
  }
}
